<div class="container-fluid">
  <div class="center">
    <h1>Login</h1>
    <input [(ngModel)]="username"
           type="text"
           placeholder="username"
           class="form-control"/>
    <input [(ngModel)]="password"
           type="password"
           placeholder="password"
           class="form-control mt-3"/>
    <button (click)="login(username,password)"
            class="btn btn-primary btn-block mt-3">
      Login
    </button>

    <a routerLink="/register">Not Registered? Click here.</a>
  </div>
</div>

