<div class="container-fluid">
  <div class="row bg-danger mb-4">
    <div class="col-sm-9">
      <h3 class="ml-lg-3">White Board</h3>
    </div>
    <div class="col-sm-3 row">
      <a routerLink="/home" class="mt-2">Home</a> &nbsp;&nbsp; <a routerLink="/profile" class="mt-2 ml-3">Profile</a>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <ul class="list-group">
        <li class="list-group-item active">Course</li>
        <li [ngClass]="{'active': course.id == courseId}"
            (click)="findSectionsForCourse(course.id)"
            *ngFor="let course of courses"
            class="list-group-item">
          <a routerLink="/course/{{course.id}}/sections">
            {{course.title}}</a>
        </li>
      </ul>
    </div>
    <div class="col-10">
      <app-admin-section-list></app-admin-section-list>
    </div>
  </div>
</div>
