<div class="row">
  <div class="col-4">
    <ul class="list-group">
      <li class="list-group-item">
        <h3>Modules</h3>
      </li>
      <li *ngFor="let module of modules"
          class="list-group-item"
          [ngClass]="{'active': module.id == moduleId}">
        <a routerLink="/course/{{course.courseId}}/module/{{module.id}}">{{module.title}}</a>
      </li>
    </ul>
  </div>
  <div class="col-8">
    <app-topic-pill></app-topic-pill>
    <div class="container-fluid">
      <app-widget-list></app-widget-list>
    </div>
  </div>
</div>
