<div class="container-fluid">
<div class="row bg-light">
  <div class="col-sm-9">
    <h3 class="ml-lg-3">White Board</h3>
  </div>
</div>
<div class="row">
  <div *ngFor="let course of courses" class="col-sm-3 mt-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{course.title}}</h5>
        <a routerLink="/user/{{userId}}/course/{{course.id}}"
           class="btn btn-outline-warning text-black-100">View</a>
      </div>
    </div>
  </div>
</div>
</div>
